/* Small Phone Style */
@media (min-width: 320px) and (max-width: 767px){
  .bg-light{
    padding: 20px 15px;
  }
  .block-width{
    display: inline-block;
  }
  .block-width .col-half.text {
    margin-left: 0px;
    width: 100%;
    padding: 0px 15px;
  }
  .block-width .col-half.images{
    width: 100%;
  }
  .block-width .col-half.text h1 {
    font-size: 28px;
    line-height: 35px;
    margin-top: 0px;
  }
  p.sub {
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
    margin-top: 30px;
  }
  .action {
    margin-top: 50px;
  }
  .action a{
    display: block;
    margin-right: 0px;
  }
  .action a.img-link{
    text-align: center;
  }
  a.img-link img {
    position: relative;
    left: 0px;
    top: 18px;
  }
  .col-12{
    margin-bottom: 20px;
  }
  .box-number{
    padding-left: 80px;
  }
  ul.partner li {
    width: 35%;
    margin-bottom: 13px;
  }
  ul.partner li.bottom {
    width: 40%;
  }
  .divider{
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape){

}
@media (min-width: 768px) and (max-width: 1024px){

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
/* End tab Phone Style */
