body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.home{
  background: -webkit-gradient(linear, left center, right center, from(#A2CD3A),color-stop(100%, #67BD48));
  background: -webkit-linear-gradient(left,#A2CD3A ,#67BD48 100%);
  background: linear-gradient(to right,#A2CD3A ,#67BD48 100%);
}
.bg-light{
  background: -webkit-gradient(linear, left center, right center, from(#A2CD3A),color-stop(100%, #67BD48));
  background: -webkit-linear-gradient(left,#A2CD3A ,#67BD48 100%);
  background: linear-gradient(to right,#A2CD3A ,#67BD48 100%);
  padding: 24px 0px;
}
ul{
  padding: 0px;
  list-style: none;
}
li{
  display: inline-block
}
a{
  text-decoration: none;
}
nav.navbar-light ul.navbar-nav li a.nav-link{
  color: #ffffff;
}
nav.navbar-light ul.navbar-nav li{
  margin-right: 20px;
}
nav.navbar-light ul.navbar-nav li:last-child{
  margin-right: 0px;
}
.box-line a.nav-link{
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 7px 30px !important;
  font-weight: 600;
}
.navbar-light .navbar-nav .box-line a.nav-link:hover{
  background: #ffffff;
  color: #4dc229;
}